
.fondo{
    background-image: url(../img/portada2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.parrafo{
    background-color: black;
    color: antiquewhite;
}

 
h1{

    color: aliceblue;
}

.h5{
    background-color: aliceblue;
}


.footer{
    background-color: rgb(5, 18, 18);
}


.titulo-reservas{
    background-color: black;
    color: aliceblue;
}

#enunciado{
    border: white 3px solid;
    border-radius: 30px;
    margin: 10px;
}

.colorlogo{
    color: white;
}

.horario{
    background-color: black;
    color: aliceblue;
}



